<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="m-1 row justify-content-between align-items-start">
                <h4>Nombre Producto</h4>                  
                  <button class="btn btn-simple" type="button" title="Agregar al pedido" style="border: none">
                  <i class="fa fa-cart-plus fa-3x"></i>
                  </button>
               </div>
              </div>
              <div class="card-body">
                <h5>Descripción: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nulla esse, animi inventore aut ad ratione cupiditate, unde dignissimos consequatur deserunt delectus! Nulla molestiae rerum recusandae eius fuga expedita sequi?</span></h5>
              </div>
            </div>
          </div>


          <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header ">
                  <div class="m-1 row justify-content-between align-items-start">
                  <h4>Nombre Producto</h4>                  
                    <button class="btn btn-simple" type="button" title="Agregar al pedido" style="border: none">
                    <i class="fa fa-cart-plus fa-3x"></i>
                    </button>
                 </div>
                </div>
                <div class="card-body">
                  <h5>Descripción: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nulla esse, animi inventore aut ad ratione cupiditate, unde dignissimos consequatur deserunt delectus! Nulla molestiae rerum recusandae eius fuga expedita sequi?</span></h5>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
                <div class="card card-chart">
                  <div class="card-header ">
                    <div class="m-1 row justify-content-between align-items-start">
                    <h4>Nombre Producto</h4>                  
                      <button class="btn btn-simple" type="button" title="Agregar al pedido" style="border: none">
                      <i class="fa fa-cart-plus fa-3x"></i>
                      </button>
                   </div>
                  </div>
                  <div class="card-body">
                    <h5>Descripción: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nulla esse, animi inventore aut ad ratione cupiditate, unde dignissimos consequatur deserunt delectus! Nulla molestiae rerum recusandae eius fuga expedita sequi?</span></h5>
                  </div>
                </div>
              </div><div class="col-lg-6">
                  <div class="card card-chart">
                    <div class="card-header ">
                      <div class="m-1 row justify-content-between align-items-start">
                      <h4>Nombre Producto</h4>                  
                        <button class="btn btn-simple" type="button" title="Agregar al pedido" style="border: none">
                        <i class="fa fa-cart-plus fa-3x"></i>
                        </button>
                     </div>
                    </div>
                    <div class="card-body">
                      <h5>Descripción: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nulla esse, animi inventore aut ad ratione cupiditate, unde dignissimos consequatur deserunt delectus! Nulla molestiae rerum recusandae eius fuga expedita sequi?</span></h5>
                    </div>
                  </div>
                </div>
  </div>
</div>
