<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
      <div class="col-md-12 mt-5">
          <h2>Mis pedidos</h2>        
                <div class="table-responsive w-40 h-90">
                    <table class="table text-center">
                        <thead>
                          <tr>
                            <th scope="col">Codigo </th>
                            <th scope="col">Fecha Realización</th>
                            <th scope="col">Fecha Entrega</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Detalle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>2018/07/02</td>
                            <td>
                              2018/07/02
                            </td>
                            <td>Pendiente</td>        
                <i class="fa fa-eye fa-2x  "></i>                                                
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>2018/07/02</td>                      
                            <td>
                                2018/07/02
                              </td>
                            <td>Pendiente</td>                              
                <i class="fa fa-eye fa-2x  "></i>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>2018/07/02</td>
                            <td>
                                2018/07/02
                              </td>
                            <td>Pendiente</td>                              
                <i class="fa fa-eye fa-2x  "></i>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
          
  </div>
</div>
