<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
      <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Pedido #</h5>
              <h4 class="card-title">Sucursal #</h4>
              <div ngbDropdown="">
                <button class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" type="button" title="Cambiar Estado" ngbDropdownToggle>
                  <i class="now-ui-icons loader_gear"></i>
                </button>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">En camino</a>
                  <a class="dropdown-item" href="#">Pendiente</a>
                  <a class="dropdown-item" href="#">Entregado</a>
                  </div> 
             </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Fecha entrega</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Acetaminofen</td>
                        <td>3</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Amoxicilina</td>
                        <td>2</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Benzocaína</td>
                        <td>4</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
          
      <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Pedido #</h5>
              <h4 class="card-title">Sucursal #</h4>
              <div ngbDropdown="">
                <button class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" type="button" title="Cambiar Estado" ngbDropdownToggle>
                  <i class="now-ui-icons loader_gear"></i>
                </button>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">En camino</a>
                  <a class="dropdown-item" href="#">Pendiente</a>
                  <a class="dropdown-item" href="#">Entregado</a>
                  </div> 
             </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Fecha entrega</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Acetaminofen</td>
                        <td>3</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Amoxicilina</td>
                        <td>2</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Benzocaína</td>
                        <td>4</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Pedido #</h5>
              <h4 class="card-title">Sucursal #</h4>
              <div ngbDropdown="">
                <button class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" type="button" title="Cambiar Estado" ngbDropdownToggle>
                  <i class="now-ui-icons loader_gear"></i>
                </button>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">En camino</a>
                  <a class="dropdown-item" href="#">Pendiente</a>
                  <a class="dropdown-item" href="#">Entregado</a>
                  </div> 
             </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Fecha entrega</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Acetaminofen</td>
                        <td>3</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Amoxicilina</td>
                        <td>2</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Benzocaína</td>
                        <td>4</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Pedido #</h5>
              <h4 class="card-title">Sucursal #</h4>
              <div ngbDropdown="">
                <button class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" type="button" title="Cambiar Estado" ngbDropdownToggle>
                  <i class="now-ui-icons loader_gear"></i>
                </button>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">En camino</a>
                  <a class="dropdown-item" href="#">Pendiente</a>
                  <a class="dropdown-item" href="#">Entregado</a>
                  </div> 
             </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Fecha pedido</th>
                        <th scope="col">Fecha entrega</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Acetaminofen</td>
                        <td>3</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Amoxicilina</td>
                        <td>2</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Benzocaína</td>
                        <td>4</td>
                        <td>2018/15/06</td>
                        <td>2018/15/06</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
  </div>
</div>
